* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    text-align: center;
    background-color: rgb(240, 240, 240);
    width: 20vw;
    height: 70vh;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 12px 7px 15px 5px rgba(0,0,0,0.21); 
    box-shadow: 12px 7px 15px 5px rgba(0,0,0,0.21);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
    font-size: 20px;
}

.header {
    font-size: 3vh;
    padding: 3vh;
    color: white;
    background: linear-gradient(to bottom right, #e7b8cf, #83b3e9);
    border-radius: 20px 20px 0 0;
}

.shoppingList {
    height: 50vh;
}

.itemRow i {
    font-size: 20px;
}

.deleteBtn:hover {
   transform: scale(1.1);
   color: red;
}

.deleteBtn {
    transition: transform 300ms ease-in;
}

.footer {
    background: linear-gradient(to bottom right, #e7b8cf, #83b3e9);
    height: 10vh;
    border-radius: 0 0 20px 20px;
}

.addText {
    width: 100%;
    outline: none;
    border: none;
    height: 32px;
    font-size: 24px;
}

.footer i {
    color: white;
    font-size: 32px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin-top: 5px;
}

.addBtn {
    transition: transform 300ms ease-in;
}

.addBtn:hover {
    transform: scale(1.1);
}
